      body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;.
    }
     .nama-store {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    }
      
      .navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    
    background-color: Pink; 
    padding: 20px 10%; 
    border-bottom: 1px solid #ddd; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
    }
    
    .nav-menu a {
    text-decoration: none; 
    color: #555;
    margin-left: 25px; 
    font-size: 24px;
    padding: 5px 0;
    transition: color 0.3s;
    }
      
      .product {
        width: 150%;
        max-width: 750px;
        background: #fff;
        padding: 20px;
        margin: 30px auto;
        border-radius: 15px;
        box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
        text-align: center;
        transition: transform 0.5 ease-out;
     }
     
     .product:hover {
       transform: scale(1.03);
       cursor: pointer;
     }

    .product img {
       width: 75%;
       border-radius: 10px;
   }
   
   .h2 {
     font-size: 20px;
   }
     
    .price {
      font-weight: bold;
      font-size: 20px;
      margin: 10px 0;
      display: block;
    }
    
    .product button {
      width: 25%;
      padding: 10px 5px;
      margin-top: 5px;
      background-color: white;
      color: black;
      font-weight: bold;
      font-size: 19px;
      border-radius: 10px;
    }
    
    p {
      text-align: center;
    }